Repository jspark2000/skku-royals: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,yaml,yml}'
      run: pnpm prettier --check {staged_files}

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix: prettier and eslint settings
  .editorconfig
  .github/workflows/CD_front_staff.yml
  .github/workflows/CD_front_survey.yml
  .github/workflows/CI_back.yml
  .github/workflows/CI_front_staff.yml
  .github/workflows/CI_front_survey.yml
  .prettierrc.js
  frontend/staff/.eslintrc.js
  frontend/survey/.eslintrc.js
  frontend/survey/src/App.vue
  frontend/survey/src/vite-env.d.ts
  package.json
Due: eslint, prettier

feat(be): add email certification service
  backend/nest-cli.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/attendance/attendance.controller.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/verifyEmail.dto.ts
  backend/src/chat-gpt/chat-gpt.controller.ts
  backend/src/common/hash/generate-hash.ts
  backend/src/email/email.module.ts
  backend/src/email/email.service.spec.ts
  backend/src/email/email.service.ts
  backend/src/email/mailConfig.service.ts
  backend/src/email/templates/certification.hbs
  backend/src/email/templates/logo.png
  backend/src/game/game.controller.ts
  backend/src/injury/injury.controller.ts
  backend/src/people/people.controller.ts
  backend/src/statistic/statistic.controller.ts
  frontend/staff/src/router/index.ts
  frontend/staff/src/views/verify-email/index.vue
  pnpm-lock.yaml
  thunder-tests/collections/tc_col_royals-staff.json
Due: eslint, prettier

fix: modify prettier and eslint settings
  .eslintignore
  .prettierignore
Due: none

feat(fe): modify main page
  backend/src/band/band.service.ts
  frontend/staff/src/views/home/Home.vue
  frontend/staff/src/views/home/HomeMobile.vue
  frontend/staff/src/views/role/Desktop.vue
Due: eslint, prettier

feat(be): add email certification service (#263)
  .eslintignore
  .prettierignore
  backend/nest-cli.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/attendance/attendance.controller.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/verifyEmail.dto.ts
  backend/src/band/band.service.ts
  backend/src/chat-gpt/chat-gpt.controller.ts
  backend/src/common/hash/generate-hash.ts
  backend/src/email/email.module.ts
  backend/src/email/email.service.spec.ts
  backend/src/email/email.service.ts
  backend/src/email/mailConfig.service.ts
  backend/src/email/templates/certification.hbs
  backend/src/email/templates/logo.png
  backend/src/game/game.controller.ts
  backend/src/injury/injury.controller.ts
  backend/src/people/people.controller.ts
  backend/src/statistic/statistic.controller.ts
  frontend/staff/src/router/index.ts
  frontend/staff/src/views/home/Home.vue
  frontend/staff/src/views/home/HomeMobile.vue
  frontend/staff/src/views/role/Desktop.vue
  frontend/staff/src/views/verify-email/index.vue
  pnpm-lock.yaml
  thunder-tests/collections/tc_col_royals-staff.json
Due: eslint, prettier

save commit
  .dockerignore
  Dockerfile
  backend/nest-cli.json
  backend/package.json
  backend/tsconfig.build.json
  scripts/deploy.sh
  thunder-tests/thunderEnvironment.json
Due: none

save commit
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  backend/package.json
  docker-compose.yml
  pnpm-lock.yaml
  scripts/setup.sh
Due: prettier

save commit
  .dockerignore
  Dockerfile
Due: none

save commit
  .devcontainer/devcontainer.json
Due: none

save commit
  terraform/build/Dockerfile
  terraform/build/Dockerfile.dockerignore
  terraform/build/entrypoint.sh
  terraform/main/.terraform.lock.hcl
  terraform/main/backend.tf
  terraform/main/main.tf
  terraform/main/provider.tf
  terraform/main/variables.tf
  terraform/modules/main.tf
  terraform/modules/mime.json
  terraform/modules/random_password.tf
  terraform/modules/route53.tf
  terraform/modules/variables.tf
  terraform/modules/vpc.tf
Due: none

save commit
  terraform/main/.terraform.lock.hcl
  terraform/modules/cloudfront.tf
  terraform/modules/route53.tf
  terraform/modules/s3.tf
  terraform/modules/variables.tf
Due: none

save commit
  terraform/modules/ecs.tf
  terraform/modules/main.tf
  terraform/modules/route53.tf
  terraform/modules/s3.tf
  terraform/modules/tasks/task-definition.tftpl
Due: none

feat: implements docker build settings
  backend/package.json
  pnpm-lock.yaml
  terraform/build/Dockerfile
  terraform/build/entrypoint.sh
Due: prettier

save commit
  terraform/modules/ec2.tf
  terraform/modules/ecs.tf
  terraform/modules/random_password.tf
  terraform/modules/tasks/task-definition.tftpl
  terraform/modules/vpc.tf
Due: none
