Repository jspark2000/skku-royals: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

Update CD_front_staff.yml
  .github/workflows/CD_front_staff.yml
Due: prettier

Update CD_back.yml
  .github/workflows/CD_back.yml
Due: prettier

feat(be): add game service
  backend/src/app.module.ts
  backend/src/attendance/attendance.controller.ts
  backend/src/attendance/attendance.service.ts
  backend/src/game/dto/gameList.dto.ts
  backend/src/game/dto/registerGame.dto.ts
  backend/src/game/game-admin.controller.ts
  backend/src/game/game.controller.ts
  backend/src/game/game.module.ts
  backend/src/game/game.service.ts
  backend/src/survey/survey.service.ts
Due: eslint, prettier

feat(fe): add game pages
  frontend/staff/src/components/HelloWorld.vue
  frontend/staff/src/components/HelloWorldMobile.vue
  frontend/staff/src/components/Login.vue
  frontend/staff/src/components/LoginMobile.vue
  frontend/staff/src/layouts/console/Toolbar.vue
  frontend/staff/src/layouts/console/ToolbarMobile.vue
  frontend/staff/src/router/index.ts
  frontend/staff/src/views/attendance/list/Desktop.vue
  frontend/staff/src/views/attendance/list/Mobile.vue
  frontend/staff/src/views/auth/LoginMobile.vue
  frontend/staff/src/views/auth/login.vue
  frontend/staff/src/views/game/list/Desktop.vue
  frontend/staff/src/views/game/list/Mobile.vue
  frontend/staff/src/views/game/list/[id]/Desktop.vue
  frontend/staff/src/views/game/list/[id]/Mobile.vue
  frontend/staff/src/views/game/list/[id]/index.vue
  frontend/staff/src/views/game/register/Desktop.vue
  frontend/staff/src/views/game/register/Mobile.vue
  frontend/staff/src/views/game/register/index.vue
Due: eslint, prettier

fix(deploy): modify backend deploy code
  .github/workflows/CD_back.yml
Due: prettier

fix(deploy): modfiy backend deploy code
  .github/workflows/CD_back.yml
Due: prettier

feature add game service (#212)
  .github/workflows/CD_back.yml
  backend/src/app.module.ts
  backend/src/attendance/attendance.controller.ts
  backend/src/attendance/attendance.service.ts
  backend/src/game/dto/gameList.dto.ts
  backend/src/game/dto/registerGame.dto.ts
  backend/src/game/game-admin.controller.ts
  backend/src/game/game.controller.ts
  backend/src/game/game.module.ts
  backend/src/game/game.service.ts
  backend/src/survey/survey.service.ts
  frontend/staff/src/components/HelloWorld.vue
  frontend/staff/src/components/HelloWorldMobile.vue
  frontend/staff/src/components/Login.vue
  frontend/staff/src/components/LoginMobile.vue
  frontend/staff/src/layouts/console/Toolbar.vue
  frontend/staff/src/layouts/console/ToolbarMobile.vue
  frontend/staff/src/router/index.ts
  frontend/staff/src/views/attendance/list/Desktop.vue
  frontend/staff/src/views/attendance/list/Mobile.vue
  frontend/staff/src/views/auth/LoginMobile.vue
  frontend/staff/src/views/auth/login.vue
  frontend/staff/src/views/game/list/Desktop.vue
  frontend/staff/src/views/game/list/Mobile.vue
  frontend/staff/src/views/game/list/[id]/Desktop.vue
  frontend/staff/src/views/game/list/[id]/Mobile.vue
  frontend/staff/src/views/game/list/[id]/index.vue
  frontend/staff/src/views/game/register/Desktop.vue
  frontend/staff/src/views/game/register/Mobile.vue
  frontend/staff/src/views/game/register/index.vue
Due: eslint, prettier

fix: attendance pages
  backend/src/game/game-admin.controller.ts
  backend/src/game/game.service.ts
  frontend/staff/src/layouts/console/Toolbar.vue
  frontend/staff/src/router/index.ts
  frontend/staff/src/views/attendance/check/Desktop.vue
  frontend/staff/src/views/attendance/check/Mobile.vue
  frontend/staff/src/views/attendance/list/Desktop.vue
  frontend/staff/src/views/attendance/list/Mobile.vue
  frontend/staff/src/views/attendance/list/[date]/Desktop.vue
  frontend/staff/src/views/attendance/list/[date]/Mobile.vue
  frontend/staff/src/views/attendance/list/[date]/index.vue
  frontend/staff/src/views/game/delete/Desktop.vue
  frontend/staff/src/views/game/delete/Mobile.vue
  frontend/staff/src/views/game/delete/index.vue
  frontend/staff/src/views/game/list/[id]/Desktop.vue
  frontend/staff/src/views/game/list/[id]/Mobile.vue
Due: eslint, prettier

fix: attendance pages (#214)
  backend/src/game/game-admin.controller.ts
  backend/src/game/game.service.ts
  frontend/staff/src/layouts/console/Toolbar.vue
  frontend/staff/src/router/index.ts
  frontend/staff/src/views/attendance/check/Desktop.vue
  frontend/staff/src/views/attendance/check/Mobile.vue
  frontend/staff/src/views/attendance/list/Desktop.vue
  frontend/staff/src/views/attendance/list/Mobile.vue
  frontend/staff/src/views/attendance/list/[date]/Desktop.vue
  frontend/staff/src/views/attendance/list/[date]/Mobile.vue
  frontend/staff/src/views/attendance/list/[date]/index.vue
  frontend/staff/src/views/game/delete/Desktop.vue
  frontend/staff/src/views/game/delete/Mobile.vue
  frontend/staff/src/views/game/delete/index.vue
  frontend/staff/src/views/game/list/[id]/Desktop.vue
  frontend/staff/src/views/game/list/[id]/Mobile.vue
Due: eslint, prettier

fix(fe): modify attendance pages
  frontend/staff/src/views/attendance/list/[date]/Desktop.vue
  frontend/staff/src/views/attendance/list/[date]/Mobile.vue
Due: none

fix(fe): modify vue type
  frontend/staff/src/views/attendance/update/Desktop.vue
  frontend/staff/src/views/attendance/update/Mobile.vue
  frontend/staff/src/views/people/injury/list/Desktop.vue
  frontend/staff/src/views/people/injury/list/Mobile.vue
  frontend/staff/src/views/people/injury/update/Desktop.vue
  frontend/staff/src/views/people/injury/update/Mobile.vue
  frontend/staff/src/views/people/update/Desktop.vue
  frontend/staff/src/views/people/update/Mobile.vue
  frontend/staff/src/views/survey/not-submitted/Desktop.vue
  frontend/staff/src/views/survey/not-submitted/Mobile.vue
Due: none

fix(fe): modify vue type (#218)
  frontend/staff/src/views/attendance/update/Desktop.vue
  frontend/staff/src/views/attendance/update/Mobile.vue
  frontend/staff/src/views/people/injury/list/Desktop.vue
  frontend/staff/src/views/people/injury/list/Mobile.vue
  frontend/staff/src/views/people/injury/update/Desktop.vue
  frontend/staff/src/views/people/injury/update/Mobile.vue
  frontend/staff/src/views/people/update/Desktop.vue
  frontend/staff/src/views/people/update/Mobile.vue
  frontend/staff/src/views/survey/not-submitted/Desktop.vue
  frontend/staff/src/views/survey/not-submitted/Mobile.vue
Due: none

Update README.md
  README.md
Due: none

Update README.md (#219)
  README.md
Due: none

feat: add registration service
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/inviteCode.dto.ts
  frontend/staff/src/common/store/auth.ts
  frontend/staff/src/layouts/console/Toolbar.vue
  frontend/staff/src/router/index.ts
  frontend/staff/src/views/auth/LoginMobile.vue
  frontend/staff/src/views/auth/login.vue
  frontend/staff/src/views/auth/register/Desktop.vue
  frontend/staff/src/views/auth/register/Mobile.vue
  frontend/staff/src/views/auth/register/index.vue
  frontend/staff/src/views/invite-code/Desktop.vue
  frontend/staff/src/views/invite-code/Mobile.vue
  frontend/staff/src/views/invite-code/index.vue
  frontend/staff/src/views/people/delete/Mobile.vue
Due: eslint, prettier

deploy: modify frontend ci code
  .github/workflows/CD_front_staff.yml
  .github/workflows/CD_front_survey.yml
  .github/workflows/CI_front_staff.yml
  .github/workflows/CI_front_survey.yml
Due: prettier

fix(deploy): modfiy frontend ci code
  .github/workflows/CD_front_survey.yml
Due: prettier

feat: add registeration service (#221)
  .github/workflows/CD_front_staff.yml
  .github/workflows/CD_front_survey.yml
  .github/workflows/CI_front_staff.yml
  .github/workflows/CI_front_survey.yml
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/inviteCode.dto.ts
  frontend/staff/src/common/store/auth.ts
  frontend/staff/src/layouts/console/Toolbar.vue
  frontend/staff/src/router/index.ts
  frontend/staff/src/views/auth/LoginMobile.vue
  frontend/staff/src/views/auth/login.vue
  frontend/staff/src/views/auth/register/Desktop.vue
  frontend/staff/src/views/auth/register/Mobile.vue
  frontend/staff/src/views/auth/register/index.vue
  frontend/staff/src/views/invite-code/Desktop.vue
  frontend/staff/src/views/invite-code/Mobile.vue
  frontend/staff/src/views/invite-code/index.vue
  frontend/staff/src/views/people/delete/Mobile.vue
Due: eslint, prettier

fix(fe): modify survey pages
  frontend/survey/src/views/index.vue
Due: none

fix(fe): modfiy coaching-staff register page
  frontend/staff/src/views/people/coaching-staff/register/Mobile.vue
Due: none

fix(fe): modify landing page
  frontend/staff/src/components/HelloWorld.vue
  frontend/staff/src/components/Landing.vue
  frontend/staff/src/components/LandingMobile.vue
  frontend/staff/src/layouts/console/Toolbar.vue
  frontend/staff/src/views/attendance/check/Desktop.vue
  frontend/staff/src/views/attendance/check/Mobile.vue
  frontend/staff/src/views/attendance/list/Desktop.vue
  frontend/staff/src/views/attendance/list/Mobile.vue
  frontend/staff/src/views/attendance/list/[date]/Desktop.vue
  frontend/staff/src/views/attendance/list/[date]/Mobile.vue
  frontend/staff/src/views/game/list/Desktop.vue
  frontend/staff/src/views/game/list/Mobile.vue
  frontend/staff/src/views/game/list/[id]/Desktop.vue
  frontend/staff/src/views/home/Home.vue
  frontend/staff/src/views/home/HomeMobile.vue
  frontend/staff/src/views/index.vue
  frontend/staff/src/views/people/coaching-staff/list/Desktop.vue
  frontend/staff/src/views/people/coaching-staff/list/Mobile.vue
  frontend/staff/src/views/people/coaching-staff/register/Mobile.vue
  frontend/staff/src/views/people/injury/list/Desktop.vue
  frontend/staff/src/views/people/list/Desktop.vue
  frontend/staff/src/views/people/list/Mobile.vue
  frontend/staff/src/views/statistic/all/Desktop.vue
  frontend/staff/src/views/statistic/personal/Desktop.vue
  frontend/staff/src/views/statistic/personal/[id]/Desktop.vue
Due: none

fix(fe): modify landing page (#226)
  frontend/staff/src/components/HelloWorld.vue
  frontend/staff/src/components/Landing.vue
  frontend/staff/src/components/LandingMobile.vue
  frontend/staff/src/layouts/console/Toolbar.vue
  frontend/staff/src/views/attendance/check/Desktop.vue
  frontend/staff/src/views/attendance/check/Mobile.vue
  frontend/staff/src/views/attendance/list/Desktop.vue
  frontend/staff/src/views/attendance/list/Mobile.vue
  frontend/staff/src/views/attendance/list/[date]/Desktop.vue
  frontend/staff/src/views/attendance/list/[date]/Mobile.vue
  frontend/staff/src/views/game/list/Desktop.vue
  frontend/staff/src/views/game/list/Mobile.vue
  frontend/staff/src/views/game/list/[id]/Desktop.vue
  frontend/staff/src/views/home/Home.vue
  frontend/staff/src/views/home/HomeMobile.vue
  frontend/staff/src/views/index.vue
  frontend/staff/src/views/people/coaching-staff/list/Desktop.vue
  frontend/staff/src/views/people/coaching-staff/list/Mobile.vue
  frontend/staff/src/views/people/coaching-staff/register/Mobile.vue
  frontend/staff/src/views/people/injury/list/Desktop.vue
  frontend/staff/src/views/people/list/Desktop.vue
  frontend/staff/src/views/people/list/Mobile.vue
  frontend/staff/src/views/statistic/all/Desktop.vue
  frontend/staff/src/views/statistic/personal/Desktop.vue
  frontend/staff/src/views/statistic/personal/[id]/Desktop.vue
Due: none

feat(fe): add table filter
  frontend/staff/src/layouts/console/Toolbar.vue
  frontend/staff/src/layouts/console/ToolbarMobile.vue
  frontend/staff/src/views/attendance/list/[date]/Desktop.vue
  frontend/staff/src/views/game/list/[id]/Desktop.vue
  frontend/staff/src/views/home/Home.vue
Due: none

feat(fe): add table filter (#228)
  frontend/staff/src/layouts/console/Toolbar.vue
  frontend/staff/src/layouts/console/ToolbarMobile.vue
  frontend/staff/src/views/attendance/list/[date]/Desktop.vue
  frontend/staff/src/views/game/list/[id]/Desktop.vue
  frontend/staff/src/views/home/Home.vue
Due: none

feat(fe): add taliwindcss packages
  frontend/survey/package.json
  frontend/survey/postcss.config.js
  frontend/survey/public/styles/fonts.css
  frontend/survey/src/assets/main.css
  frontend/survey/src/components/HelloWorld.vue
  frontend/survey/src/components/TheWelcome.vue
  frontend/survey/src/components/WelcomeItem.vue
  frontend/survey/src/components/icons/IconCommunity.vue
  frontend/survey/src/components/icons/IconDocumentation.vue
  frontend/survey/src/components/icons/IconEcosystem.vue
  frontend/survey/src/components/icons/IconSupport.vue
  frontend/survey/src/components/icons/IconTooling.vue
  frontend/survey/src/input.css
  frontend/survey/src/main.ts
  frontend/survey/src/plugins/index.ts
  frontend/survey/src/plugins/vuetify.ts
  frontend/survey/src/plugins/webfontloader.ts
  frontend/survey/src/router/index.ts
  frontend/survey/src/styles/settings.scss
  frontend/survey/src/views/home/components/SurveyCounter.vue
  frontend/survey/src/views/home/components/SurveyItem.vue
  frontend/survey/src/views/home/pages/index.vue
  frontend/survey/src/views/index.vue
  frontend/survey/tailwind.config.js
  frontend/survey/vite.config.ts
  pnpm-lock.yaml
Due: eslint, prettier

feat(fe): add transitions
  frontend/survey/src/views/home/components/SurveyCounter.vue
  frontend/survey/src/views/home/components/SurveyItem.vue
  frontend/survey/src/views/home/pages/index.vue
Due: none

feat(fe): add landing pages
  backend/src/survey/survey.controller.ts
  backend/src/survey/survey.service.ts
  frontend/survey/public/atheletes.webp
  frontend/survey/public/styles/fonts.css
  frontend/survey/src/layouts/Default.vue
  frontend/survey/src/layouts/View.vue
  frontend/survey/src/plugins/webfontloader.ts
  frontend/survey/src/router/index.ts
  frontend/survey/src/views/Submit.vue
  frontend/survey/src/views/home/pages/index.vue
  frontend/survey/src/views/survey/atheletes-and-staff/[id]/components/SurveyItem.vue
  frontend/survey/src/views/survey/atheletes-and-staff/[id]/interfaces/survey.interface.ts
  frontend/survey/src/views/survey/atheletes-and-staff/[id]/pages/index.vue
  frontend/survey/src/views/survey/atheletes-and-staff/components/SurveyGroupItem.vue
  frontend/survey/src/views/survey/atheletes-and-staff/interfaces/surveyGroup.interface.ts
  frontend/survey/src/views/survey/atheletes-and-staff/pages/index.vue
  frontend/survey/tailwind.config.js
Due: eslint, prettier

feat(fe): add pages
  backend/prisma/seed.ts
  backend/src/people/people.controller.ts
  backend/src/people/people.service.ts
  frontend/survey/.env
  frontend/survey/package.json
  frontend/survey/src/main.ts
  frontend/survey/src/router/index.ts
  frontend/survey/src/views/home/pages/index.vue
  frontend/survey/src/views/survey/atheletes-and-staff/[id]/components/StudentID.vue
  frontend/survey/src/views/survey/atheletes-and-staff/[id]/components/SurveyItem.vue
  frontend/survey/src/views/survey/atheletes-and-staff/[id]/interfaces/survey.interface.ts
  frontend/survey/src/views/survey/atheletes-and-staff/[id]/pages/index.vue
  frontend/survey/src/views/survey/atheletes-and-staff/components/SurveyGroupItem.vue
  frontend/survey/src/views/survey/atheletes-and-staff/pages/index.vue
  pnpm-lock.yaml
Due: eslint, prettier

fix(fe): change api url
  frontend/survey/.env
Due: none

feat(fe): apply tailwindcss (#231)
  backend/prisma/seed.ts
  backend/src/people/people.controller.ts
  backend/src/people/people.service.ts
  backend/src/survey/survey.controller.ts
  backend/src/survey/survey.service.ts
  frontend/survey/package.json
  frontend/survey/postcss.config.js
  frontend/survey/public/atheletes.webp
  frontend/survey/public/styles/fonts.css
  frontend/survey/src/assets/main.css
  frontend/survey/src/components/HelloWorld.vue
  frontend/survey/src/components/TheWelcome.vue
  frontend/survey/src/components/WelcomeItem.vue
  frontend/survey/src/components/icons/IconCommunity.vue
  frontend/survey/src/components/icons/IconDocumentation.vue
  frontend/survey/src/components/icons/IconEcosystem.vue
  frontend/survey/src/components/icons/IconSupport.vue
  frontend/survey/src/components/icons/IconTooling.vue
  frontend/survey/src/input.css
  frontend/survey/src/layouts/Default.vue
  frontend/survey/src/layouts/View.vue
  frontend/survey/src/main.ts
  frontend/survey/src/plugins/index.ts
  frontend/survey/src/plugins/vuetify.ts
  frontend/survey/src/plugins/webfontloader.ts
  frontend/survey/src/router/index.ts
  frontend/survey/src/styles/settings.scss
  frontend/survey/src/views/Submit.vue
  frontend/survey/src/views/home/pages/index.vue
  frontend/survey/src/views/index.vue
  frontend/survey/src/views/survey/atheletes-and-staff/[id]/components/StudentID.vue
  frontend/survey/src/views/survey/atheletes-and-staff/[id]/components/SurveyItem.vue
  frontend/survey/src/views/survey/atheletes-and-staff/[id]/interfaces/survey.interface.ts
  frontend/survey/src/views/survey/atheletes-and-staff/[id]/pages/index.vue
  frontend/survey/src/views/survey/atheletes-and-staff/components/SurveyGroupItem.vue
  frontend/survey/src/views/survey/atheletes-and-staff/interfaces/surveyGroup.interface.ts
  frontend/survey/src/views/survey/atheletes-and-staff/pages/index.vue
  frontend/survey/tailwind.config.js
  frontend/survey/vite.config.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix: pnpm lock file
  pnpm-lock.yaml
Due: prettier

fix: pnpm lock file (#234)
  pnpm-lock.yaml
Due: prettier

feat(deploy): add some deploy methods
  .github/workflows/CI_back.yml
  scripts/deploy.sh
Due: prettier

deploy test
  .github/workflows/CI_back.yml
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts}
  prettier: any of: *.{js,ts,yaml,yml}
