Repository jspark2000/skku-royals: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

deploy test
  .github/workflows/CI_back.yml
Due: prettier

deploy test
  .gitignore
  scripts/deploy.sh
Due: none

deploy test
  .github/workflows/CI_back.yml
  appspec.yml
  scripts/deploy.sh
Due: prettier

deploy test
  .github/workflows/CI_back.yml
  scripts/deploy.sh
Due: prettier

deploy test
  .github/workflows/CD_back.yml
  appspec.yml
Due: prettier

deploy test
  scripts/deploy.sh
Due: none

deploy test
  .github/workflows/CD_back.yml
  scripts/deploy.sh
Due: prettier

deploy test
  backend/package.json
  scripts/deploy.sh
Due: none

deploy test
  appspec.yml
Due: prettier

feat(deploy): add codeploy on cd method
  .github/workflows/CI_back.yml
Due: prettier

update aws-actions/configure-aws-credentials to v2
  .github/workflows/CD_back.yml
Due: prettier

feat(deploy): apply codedeploy (#237)
  .github/workflows/CD_back.yml
  .github/workflows/CI_back.yml
  .gitignore
  appspec.yml
  scripts/deploy.sh
Due: prettier

feat: add slack api services
  backend/prisma/seed.ts
  backend/src/survey/survey.service.ts
  frontend/staff/.env.development
  frontend/staff/.env.preview
  frontend/staff/.env.production
Due: eslint, prettier

feat: add slack api services (#240)
  backend/prisma/seed.ts
  backend/src/survey/survey.service.ts
  frontend/staff/.env.development
  frontend/staff/.env.preview
  frontend/staff/.env.production
Due: eslint, prettier

fix(be): add ondelete - cascade option on injury table
  backend/prisma/migrations/20230707142219_add_ondelete_option_in_injury_table/migration.sql
  backend/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier

fix(be): add ondelete-cascade option on injury table (#249)
  backend/prisma/migrations/20230707142219_add_ondelete_option_in_injury_table/migration.sql
  backend/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier

feat(be): add login method
  .gitignore
  backend/package.json
  backend/prisma/migrations/20230714141302_add_login_value_on_banduser_table/migration.sql
  backend/prisma/migrations/20230714142343_add_unique_contraints_on_email_field/migration.sql
  backend/prisma/migrations/20230714143119_delete_unused_fields_on_banduser_table/migration.sql
  backend/prisma/migrations/20230715101010_modify_password_field/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/class/authenticated-user.class.ts
  backend/src/auth/dto/inviteCode.dto.ts
  backend/src/auth/dto/loginUser.dto.ts
  backend/src/auth/dto/register.dto.ts
  backend/src/auth/interfaces/jwt.interface.ts
  backend/src/auth/strategy/jwt.strategy.ts
  backend/src/band/band.controller.ts
  backend/src/band/band.service.ts
  backend/src/common/cache/cacheConfig.service.ts
  docker-compose.yml
  pnpm-lock.yaml
  scripts/setup.sh
  thunder-tests/collections/tc_col_royals-staff.json
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Due: eslint, prettier

feat(ci): modify setup scripts
  scripts/setup.sh
Due: none

feat: add login method
  backend/prisma/migrations/20230715144429_delete_unused_columns_in_banduser_table/migration.sql
  backend/prisma/migrations/20230715155843_remove_unique_constraint_on_username_column/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/strategy/jwt.strategy.ts
  backend/src/band/band.service.ts
  backend/src/main.ts
  frontend/staff/src/common/store/auth.ts
  frontend/staff/src/components/LoginMobile.vue
  frontend/staff/src/router/index.ts
  frontend/staff/src/views/auth/LoginMobile.vue
  frontend/staff/src/views/auth/index.vue
  frontend/staff/src/views/auth/login.vue
  frontend/staff/src/views/auth/register/Desktop.vue
  frontend/staff/src/views/auth/register/Mobile.vue
  frontend/staff/src/views/home/Home.vue
  frontend/staff/src/views/register/Desktop.vue
  frontend/staff/src/views/register/Mobile.vue
  frontend/staff/src/views/register/index.vue
  frontend/staff/src/views/role/Desktop.vue
  frontend/staff/src/views/role/Mobile.vue
Due: eslint, prettier

fix(be): temporary able register as superadmin
  backend/src/auth/auth.service.ts
Due: eslint, prettier

fix: schema migration history
  backend/prisma/migrations/20230714141302_add_login_value_on_banduser_table/migration.sql
  backend/prisma/migrations/20230714142343_add_unique_contraints_on_email_field/migration.sql
  backend/prisma/migrations/20230714143119_delete_unused_fields_on_banduser_table/migration.sql
  backend/prisma/migrations/20230715101010_modify_password_field/migration.sql
  backend/prisma/migrations/20230715144429_delete_unused_columns_in_banduser_table/migration.sql
  backend/prisma/migrations/20230715155843_remove_unique_constraint_on_username_column/migration.sql
  backend/prisma/migrations/20230715170746_add_login_columns_on_banduser_table/migration.sql
Due: none

fix: cache-manager
  backend/src/auth/auth.service.spec.ts
Due: eslint, prettier

fix(be): modify migration history
  backend/prisma/migrations/20230715170746_add_login_columns_on_banduser_table/migration.sql
  backend/prisma/migrations/20230715171818_add_some_login_columns_on_banduser_table/migration.sql
  backend/prisma/schema.prisma
Due: none

fix(be): modify email method
  backend/src/auth/auth.service.ts
Due: eslint, prettier

fix: schema migration history (#257)
  backend/prisma/migrations/20230714141302_add_login_value_on_banduser_table/migration.sql
  backend/prisma/migrations/20230714142343_add_unique_contraints_on_email_field/migration.sql
  backend/prisma/migrations/20230714143119_delete_unused_fields_on_banduser_table/migration.sql
  backend/prisma/migrations/20230715101010_modify_password_field/migration.sql
  backend/prisma/migrations/20230715144429_delete_unused_columns_in_banduser_table/migration.sql
  backend/prisma/migrations/20230715155843_remove_unique_constraint_on_username_column/migration.sql
  backend/prisma/migrations/20230715171818_add_some_login_columns_on_banduser_table/migration.sql
  backend/prisma/schema.prisma
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
Due: eslint, prettier

fix(be): add unique constraints on banduser table
  backend/prisma/migrations/20230715174709_add_unique_contraints_on_banduser_table/migration.sql
  backend/prisma/schema.prisma
  backend/src/auth/auth.service.ts
  backend/src/band/band.service.ts
Due: eslint, prettier

fix(be): add unique constraints on banduser table (#259)
  backend/prisma/migrations/20230715174709_add_unique_contraints_on_banduser_table/migration.sql
  backend/prisma/schema.prisma
  backend/src/auth/auth.service.ts
  backend/src/band/band.service.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts}
  prettier: any of: *.{js,ts,yaml,yml}
