Repository jspark2000/skku-royals: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

feat: add survey service
  prisma/migrations/20230326112207_add_student_id_column_on_people_table/migration.sql
  prisma/migrations/20230326120737_add_survey_tables/migration.sql
  prisma/migrations/20230326133055_add_unique_constraint_on_people_table/migration.sql
  prisma/migrations/20230326145100_add_relation_setting_on_survey_table/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/app.module.ts
  src/common/guards/roles.guard.ts
  src/people/dto/peopleListResponse.dto.ts
  src/people/dto/peopleUpdate.dto.ts
  src/people/dto/registerPeople.dto.ts
  src/people/people.controller.ts
  src/people/people.service.ts
  src/survey/admin-survey.controller.ts
  src/survey/dto/notSubmitted.dto.ts
  src/survey/dto/registerSurveys.dto.ts
  src/survey/dto/submitSurvey.dto.ts
  src/survey/survey.controller.spec.ts
  src/survey/survey.controller.ts
  src/survey/survey.module.ts
  src/survey/survey.service.spec.ts
  src/survey/survey.service.ts
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Due: eslint, prettier

feat: add update logics
  src/survey/admin-survey.controller.ts
  src/survey/dto/notSubmitted.dto.ts
  src/survey/dto/registerSeparateSurvey.dto.ts
  src/survey/dto/updateSurveySubmit.dto.ts
  src/survey/survey.controller.ts
  src/survey/survey.service.ts
Due: eslint, prettier

fix: modify some codes
  src/survey/admin-survey.controller.ts
  src/survey/dto/registerSeparateSurvey.dto.ts
  src/survey/survey.controller.ts
  src/survey/survey.service.ts
Due: eslint, prettier

feat: add survey services
  prisma/migrations/20230331155028_add_description_column_on_survey_table/migration.sql
  prisma/schema.prisma
  src/attendance/attedance-admin.controller.ts
  src/attendance/attendance.service.ts
  src/attendance/dto/attendanceUpdate.dto.ts
  src/auth/auth.service.ts
  src/people/dto/peopleUpdate.dto.ts
  src/survey/dto/registerSurveys.dto.ts
  src/survey/survey.controller.ts
  src/survey/survey.service.ts
Due: eslint, prettier

feat: add survey service (#185)
  prisma/migrations/20230326112207_add_student_id_column_on_people_table/migration.sql
  prisma/migrations/20230326120737_add_survey_tables/migration.sql
  prisma/migrations/20230326133055_add_unique_constraint_on_people_table/migration.sql
  prisma/migrations/20230326145100_add_relation_setting_on_survey_table/migration.sql
  prisma/migrations/20230331155028_add_description_column_on_survey_table/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/app.module.ts
  src/attendance/attedance-admin.controller.ts
  src/attendance/attendance.service.ts
  src/attendance/dto/attendanceUpdate.dto.ts
  src/auth/auth.service.ts
  src/common/guards/roles.guard.ts
  src/people/dto/peopleListResponse.dto.ts
  src/people/dto/peopleUpdate.dto.ts
  src/people/dto/registerPeople.dto.ts
  src/people/people.controller.ts
  src/people/people.service.ts
  src/survey/admin-survey.controller.ts
  src/survey/dto/notSubmitted.dto.ts
  src/survey/dto/registerSeparateSurvey.dto.ts
  src/survey/dto/registerSurveys.dto.ts
  src/survey/dto/submitSurvey.dto.ts
  src/survey/dto/updateSurveySubmit.dto.ts
  src/survey/survey.controller.spec.ts
  src/survey/survey.controller.ts
  src/survey/survey.module.ts
  src/survey/survey.service.spec.ts
  src/survey/survey.service.ts
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Due: eslint, prettier

feat: add additional survey services
  src/people/people.service.ts
  src/survey/dto/registerSeparateSurvey.dto.ts
  src/survey/survey.service.ts
Due: eslint, prettier

feat: add additional survey services (#190)
  src/people/people.service.ts
  src/survey/dto/registerSeparateSurvey.dto.ts
  src/survey/survey.service.ts
Due: eslint, prettier

Update attendance.service.ts
  src/attendance/attendance.service.ts
Due: eslint, prettier

feat: add survey delete services
  src/survey/dto/submitSurvey.dto.ts
  src/survey/survey.service.ts
Due: eslint, prettier

feat: add survey delete services (#192)
  src/survey/dto/submitSurvey.dto.ts
  src/survey/survey.service.ts
Due: eslint, prettier

Update survey.service.ts
  src/survey/survey.service.ts
Due: eslint, prettier

feat: add openai service
  package-lock.json
  package.json
  src/app.module.ts
  src/chat-gpt/chat-gpt.controller.ts
  src/chat-gpt/chat-gpt.module.ts
  src/chat-gpt/chat-gpt.service.ts
  src/chat-gpt/dto/chat.dto.ts
  src/survey/survey.service.ts
Due: eslint, prettier

feat: add openai service (#195)
  package-lock.json
  package.json
  src/app.module.ts
  src/chat-gpt/chat-gpt.controller.ts
  src/chat-gpt/chat-gpt.module.ts
  src/chat-gpt/chat-gpt.service.ts
  src/chat-gpt/dto/chat.dto.ts
  src/survey/survey.service.ts
Due: eslint, prettier

Update README.md
  README.md
Due: none

feat: add coaching-staff services
  .vscode/settings.json
  prisma/migrations/20230417120616_modify_coaching_staff_table/migration.sql
  prisma/migrations/20230417122053_add_column_admission_year_on_coaching_staff_table/migration.sql
  prisma/schema.prisma
  scripts/setup.sh
  src/main.ts
  src/people/dto/registerCoachingStaff.dto.ts
  src/people/dto/updateCoachingStaff.dto.ts
  src/people/people-admin.controller.ts
  src/people/people.controller.ts
  src/people/people.service.ts
  src/survey/dto/submitSurvey.dto.ts
  thunder-tests/thunderCollection.json
Due: eslint, prettier

feat: add coaching-staff services (#198)
  .vscode/settings.json
  prisma/migrations/20230417120616_modify_coaching_staff_table/migration.sql
  prisma/migrations/20230417122053_add_column_admission_year_on_coaching_staff_table/migration.sql
  prisma/schema.prisma
  scripts/setup.sh
  src/main.ts
  src/people/dto/registerCoachingStaff.dto.ts
  src/people/dto/updateCoachingStaff.dto.ts
  src/people/people-admin.controller.ts
  src/people/people.controller.ts
  src/people/people.service.ts
  src/survey/dto/submitSurvey.dto.ts
  thunder-tests/thunderCollection.json
Due: eslint, prettier

feat: change npm to pnpm
  .eslintignore
  .github/workflows/ci.yml
  .github/workflows/ci_cd.yml
  .gitignore
  .prettierignore
  package-lock.json
  pnpm-lock.yaml
  scripts/post-checkout.sh
  scripts/setup.sh
Due: prettier

fix: fix some codes
  .github/workflows/ci.yml
  .github/workflows/ci_cd.yml
Due: prettier

feat: change npm to pnpm (#201)
  .eslintignore
  .github/workflows/ci.yml
  .github/workflows/ci_cd.yml
  .gitignore
  .prettierignore
  package-lock.json
  pnpm-lock.yaml
  scripts/post-checkout.sh
  scripts/setup.sh
Due: prettier

Update main.ts
  src/main.ts
Due: eslint, prettier

fix: github actions
  .github/workflows/ci.yml
Due: prettier

fix: modify package.json
  frontend/staff/package.json
Due: none

fix: config files
  frontend/staff/env.d.ts
  frontend/staff/tsconfig.json
Due: eslint, prettier

fix: modify pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: prettier

fix: modify github actions
  .github/workflows/CI_front_staff.yml
  .github/workflows/CI_front_survey.yml
Due: prettier

fix: github actions
  .github/workflows/CI_back.yml
Due: prettier

fix: modify github action deploy method
  .github/workflows/CD_front_staff.yml
  .github/workflows/CD_front_survey.yml
Due: prettier

fix: modify github action deploy methods
  .github/workflows/CD_front_staff.yml
  .github/workflows/CD_front_survey.yml
Due: prettier

fix: modify backend deploy settings
  .github/workflows/CD_back.yml
Due: prettier

fix(deploy): modify deploy github action workflow
  .github/workflows/CD_back.yml
  .github/workflows/CD_front_staff.yml
  .github/workflows/CD_front_survey.yml
Due: prettier

fix(deps): update packages
  frontend/staff/.eslintrc.js
  frontend/staff/env.d.ts
  frontend/staff/package.json
  frontend/staff/src/components/Breadcrumbs.vue
  frontend/staff/src/views/attendance/delete/Desktop.vue
  frontend/staff/src/views/attendance/delete/Mobile.vue
  frontend/staff/src/views/people/coaching-staff/register/Desktop.vue
  frontend/staff/src/views/people/coaching-staff/register/Mobile.vue
  frontend/staff/src/views/people/delete/Desktop.vue
  frontend/staff/src/views/people/delete/Mobile.vue
  frontend/staff/src/views/people/injury/register/Desktop.vue
  frontend/staff/src/views/people/injury/register/Mobile.vue
  frontend/staff/src/views/people/register/Desktop.vue
  frontend/staff/src/views/people/register/Mobile.vue
  frontend/staff/src/views/role/Desktop.vue
  frontend/staff/src/views/role/Mobile.vue
  frontend/staff/src/views/survey/register-separate/Desktop.vue
  frontend/staff/src/views/survey/register/Desktop.vue
  frontend/staff/src/vite-env.d.ts
  frontend/staff/tsconfig.json
  frontend/staff/tsconfig.node.json
  frontend/staff/tsconfig.vite-config.json
  pnpm-lock.yaml
Due: eslint, prettier

fix(deps): update dependency @vue/tsconfig (#209)
  .github/workflows/CD_back.yml
  .github/workflows/CD_front_staff.yml
  .github/workflows/CD_front_survey.yml
  frontend/staff/.eslintrc.js
  frontend/staff/env.d.ts
  frontend/staff/package.json
  frontend/staff/src/components/Breadcrumbs.vue
  frontend/staff/src/views/attendance/delete/Desktop.vue
  frontend/staff/src/views/attendance/delete/Mobile.vue
  frontend/staff/src/views/people/coaching-staff/register/Desktop.vue
  frontend/staff/src/views/people/coaching-staff/register/Mobile.vue
  frontend/staff/src/views/people/delete/Desktop.vue
  frontend/staff/src/views/people/delete/Mobile.vue
  frontend/staff/src/views/people/injury/register/Desktop.vue
  frontend/staff/src/views/people/injury/register/Mobile.vue
  frontend/staff/src/views/people/register/Desktop.vue
  frontend/staff/src/views/people/register/Mobile.vue
  frontend/staff/src/views/role/Desktop.vue
  frontend/staff/src/views/role/Mobile.vue
  frontend/staff/src/views/survey/register-separate/Desktop.vue
  frontend/staff/src/views/survey/register/Desktop.vue
  frontend/staff/src/vite-env.d.ts
  frontend/staff/tsconfig.json
  frontend/staff/tsconfig.node.json
  frontend/staff/tsconfig.vite-config.json
  pnpm-lock.yaml
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts}
  prettier: any of: *.{js,ts,yaml,yml}
